:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.barchart {
  background-color: beige;
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: auto;
  padding: 20px;
}

@media screen and (max-width: 980px) {
  .barchart {
    justify-content: unset;
  }
}

@media screen and (max-height: 640px) {
  .barchart {
    align-items: flex-start;
  }
}

.barchart__container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #c4c4c4;
}

.barchart__title {
  text-align: center;
}

.barchart__wrapper {
  position: relative;
  width: 900px;
  height: 500px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barchart__error {
  color: #ff0000;
  font-size: 20px;
}

.bar {
  fill: rgb(25, 217, 153);
}

.bar:hover {
  fill: rgb(5, 173, 5);
  cursor: pointer;
}

.tooltip {
  position: absolute;
  width: 150px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  background-color: rgb(5, 173, 5);
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 20px #e4e3e3;
  pointer-events: none;
}
